.text-center {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

mat-action-list {
  max-height: 80vh;
  flex-grow: 1;
  /* border: 2px solid grey; */
  overflow: auto;
  /* border-radius: 2px; */
}